* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    box-sizing: border-box;
}

body {
    background-color: #e2e7e6;
    width: 100%;
    overflow: auto;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    min-width: 280px;
    margin-left: 30px;
}
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.add-1 {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}

.add-2 {
    font-size: 1rem;
    margin: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    max-width: 700px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover {
    border: 2px solid orange;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 174, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
span {
    font-size: 0.7rem;
}
.nav2 {
    font-size: 0.85rem;
    font-weight: 700;
}
i{
    color: #ffff;
}
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}
nav{
    display: none;
    width: 100vw;
    background-color: #0f1111;
    /* display: block; */
    justify-content: space-between;
    align-items: center;
    padding: 0% 25px;
}
.nav-content{
    display: none;
    /* width: 100vw; */
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.nav-logo-items{
    display: flex;
}
.nav-singin p{
    display: flex; justify-content: space-between; align-items: center;
    color: white;
}
.menubar{
    display: inline;
    margin-top: 5px;
    
}
.line{
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 8px;
    display: flex;
    left: 0px;
    position: relative;
    transition: .2s ease;
}
.line1{
    top: 13px;
    rotate: 45deg;
    width: 45px;

}
.line2{
    opacity: 0;
}
.line3{
    bottom: 14px;
    rotate: -45deg;
    width: 45px;

}
.panel {
    /* height: 40px; */
    padding: 10px 0px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opts p {
    display: inline;
    margin-left: 10px;
}

.panel-opts {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}
/* slider Section Start */
.container {
    height: 700px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: start;
}
.frame {
    background-color: green;
    height: 700px;
    width: 100vw;
    overflow: hidden;
}
.btn {
    height: 200px;
    width: 40px;
    color: white;
    font-size: 60px;
    /* padding: 0px 20px; */
    cursor: pointer;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    border: 1px solid black;
}
.left {
    position: relative;
    z-index: 100;
    left: 40px;
}
.right {
    position: relative;
    right: 40px;
}
.slider {
    display: flex;
    transition: 1s ease;
}
.slider img {
    min-width: 100vw;
    height: 700px;
}
.shop-sec {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-evenly;
    background: transparent;
    gap: 20px;
    margin: -420px 10px 0px 20px;
}

@media screen and (max-width: 420px) {
    .nav-cart i{
        font-size: 22px;
    }
    nav{
        padding: 0px 2px;
        width: 95.7vw;

    }
    .container {
        height: 150px;
    }

    .frame {
        height: 150px;
    }

    .slider {
        height: 150px;
    }

    .slider img {
        height: 150px;
    }
    .btn {
        height: 50px;
        width: 40px;
        color: white;
        background-color: rgb(206, 202, 202);
        font-size: 30px;
        /* padding: 0px 20px; */
        cursor: pointer;
        /* top: 20px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left {
        left: 0px;
    }
    
    .right {
        right: 0px;
    }
    .shop-sec {
        margin:12px 10px 0px 20px;
    }
}
.box {
    height: 400px;
    background-color: white;
    padding: 20px 0px 15px;
    /* margin: 15px 10px 10px 0px; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img {
    height: 300px;
    max-width: 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-img img {
    width: 100%;
    height: 100%;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box p {
    color: #007185;
}
/* Sub slider start */
.top-product {
    background-color: white;
    margin: 20px 20px;
    overflow: hidden;
    padding: 0px 10px;
   
}
.top-product .sub-heading{
    margin-top: 15px;
    font: 1.05em sans-serif;
}
.slider-frame {
    /* background-color: green; */
    display: flex;
    height: 250px;
    overflow: auto;
}
.img-rapper{
    text-align: center;
    position: relative;
    display: inline-block;
    min-width: 145px
}
.slider-frame img{
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    vertical-align: middle;
}

.slider-frame::-webkit-scrollbar{
    height: 7px;
    transition: 1s ease;
    width: 100%;
    border-radius: 20px;
}
.slider-frame::-webkit-scrollbar-thumb{
    height: 100%;
    background-color: #aaa;
    border-radius: 20px;
    display: none;
}
.top-product:hover::-webkit-scrollbar-thumb{
    display: block;
}
.slider-frame:hover::-webkit-scrollbar-thumb{
    display: block;
    background-color: #aaa;
    cursor: pointer;
}








/* Footer Section✌ */
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    text-decoration: none;
    transition: all 1s ease-out;
}
.foot-panel1:hover{
    background-color: #4d5c6d;
}
.foot-panel2{
    display: flex;
    position: relative;
    background-color: #222f3d;
    padding: 0px 100px;
    /* height: 300px; */
    padding-bottom: 100px;
    padding-top: 30px;
}
.foot-panel2 .footer-item{
    display: flex;
    width:100%;
    background-color: transparent;
    justify-content: space-around;
}
ul {
    margin-top: 20px;
}
ul p{
    color: #fff;
    font-weight: bold;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    cursor: pointer;
    text-decoration: none;
    line-height: 20px;

}
ul a:hover{
    text-decoration: underline;
}
.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center ; */
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}

@media screen and (max-width: 768px) {
    .navbar{
        display: none;
    }

    .panel{
        overflow: auto;
        justify-content: start;
    }
    .panel-all{
        display: none;
    }
    nav{
        display: block;
        width: 97.5vw;
    }
    .nav-content{
        display: flex;
    }
    .nav-singin{
        display: flex;
    }
    .panel-opts{
        min-width: 125%;
    }
    .panel-deals {
        display: none;
    }

    .container {
        height: 420px;
    }

    .frame {
        height: 400px;
    }

    .slider {
        height: 400px;
    }

    .slider img {
        height: 400px;
    }

    .shop-sec {
        margin: -140px 10px 0px 20px;
    }
.foot-panel2{
    display: block;
}
}